# Generic extension to ignore
*.py[cod]
.idea
*.txt
!*requirements.txt
*.aux.xml
__pycache__/
*.gfs
.tox
.coverage
cov.xml
*.lock
.run
_*.py

# Discard CI/OUTPUTS
ci/**/*.tif
ci/**/*.npy
ci/**/*.vrt
ci/**/*.geojson
ci/**/*.xml
ci/**/*.jp2
ci/**/*.png

# Build options
build/
*.egg-info/
dist/

# Docs & Notebooks
docs/_build/*
!docs/_build/.jupyter_cache
docs/api
.ipynb_checkpoints
/docs/notebooks/test.ipynb

# Dask
dask-worker-space/*

# Other files
/ci/on_push/test.py
/notebooks_tests/
