# Generic extension to ignore
*.py[cod]
.idea
*.txt
!*requirements.txt
*.aux.xml
__pycache__/
*.gfs
.tox
.coverage
cov.xml

# Discard CI/OUTPUTS
CI/OUTPUT/*
CI/DATA/*/*_DEM.tif
!CI/DATA/*/*_S3_*_DEM.tif
CI/DATA/*/*_HILLSHADE.tif
CI/DATA/*/*_SLOPE.tif

# Build options
build/
*.egg-info/
dist/