stages:
  - test
  - publish
  - doc

pytest:
  image: docker.sertit.unistra.fr/extracteo/extracteo_deps:latest
  stage: test
  before_script:
    - pip install -e .
  script:
    - pytest -v --durations=0 --cov-report term --cov-report xml:cov.xml --cov=eoreader CI/SCRIPTS
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  tags:
    - linux
  except:
    changes:
      - "*.md"
      - eoreader/version.py
      - doc_template/*

upload_wheel:linux:
  image: python:3.7-buster
  stage: publish
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${DEPLOY_PWD} TWINE_USERNAME=${DEPLOY_NAME} python -m twine upload --verbose --repository-url https://code.sertit.unistra.fr/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  tags:
    - linux
  only:
    - tags

pages:
  image: docker.sertit.unistra.fr/extracteo/extracteo_deps:latest
  stage: doc
  script:
    - pip install -r requirements.txt
    - pdoc eoreader -o doc -f --html --template-dir doc_template
    - cp doc_template/index.html doc/index.html
    - mv doc/ public/
  artifacts:
    paths:
      - public
  tags:
    - linux
  only:
    - master