exclude: |
  (?x)^(docs/.*|docs_sphinx/.*)$
fail_fast: false
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
        args: [ --allow-multiple-documents, --unsafe ]
      - id: check-xml
      - id: debug-statements
      - id: check-merge-conflict

  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.0
    hooks:
      - id: flake8

  - repo: 'https://github.com/psf/black'
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.7.0
    hooks:
      - id: isort
