name: eoreader-doc
channels:
  - conda-forge
dependencies:         # everything under this, installed by conda
  - python=3.9
  - pip
  - pip:                # everything under this, installed by pip
      - -r ./requirements-doc.txt
