name: eoreader-doc
channels:
  - conda-forge
dependencies:         # everything under this, installed by conda
  - python=3.9
  - pip
  - pip:                # everything under this, installed by pip
      - --extra-index-url ${WINDOWS_WHEELS}  # Use windows wheels on Windows
      - -r ./requirements-doc.txt
