-r requirements.txt

 # Help solving the env (spyndex requires the whole gee dependencies... https://github.com/awesome-spectral-indices/spyndex/issues/17)
earthengine-api<1.5.23
google_auth>=2.40.0

# Doc
ipython  # workaround
sphinx
sphinx-book-theme
sphinx-copybutton
myst-nb
myst-parser
linkify-it-py

jupyter
matplotlib
cartopy
hvplot
geoviews

eodag
folium

-e .
