-r requirements.txt

# Doc
sphinx==5.3.0  # workaround
sphinx-book-theme
sphinx-copybutton
myst-nb
myst-parser
linkify-it-py

jupyter
matplotlib
cartopy==0.19.0.post1
hvplot
geoviews

pystac[validation]
eodag
folium

-e .

# workaround
jinja2==3.0.3
