# Libs for all platforms
pytest
twine
pylint
pdoc3
lxml
netCDF4
psutil
geopandas
rasterio

# SERTIT libs
--extra-index-url https://${GITLAB_SERTIT_READ_TOKEN}:${GITLAB_SERTIT_READ_PWD}@code.sertit.unistra.fr/api/v4/projects/134/packages/pypi/simple
sertit[full]