# Tests & lint
tox
pre-commit
black
pytest
coverage
pytest-cov
flake8
pylint
tempenv

# Deploy
twine

# Libs for all platforms
matplotlib
scipy
methodtools
tqdm
lxml
colorlog
h5netcdf
rasterio>=1.2.2
xarray>=0.18.0
rioxarray>=0.4.0
geopandas>=0.9.0
dask[complete]==2021.10.0
rtree
validators
cloudpathlib>=0.7.0

# STAC
pystac[validation]

# SERTIT libs
sertit[full]>=1.14.0
