# Tests & lint
tox
tox-conda
pre-commit
black
pytest
coverage
pytest-cov
flake8
pylint

# Deploy
twine

# Doc
pdoc3

# Libs for all platforms
tqdm
psutil
lxml
colorlog
netCDF4
rasterio
rioxarray
geopandas

# SERTIT libs
sertit[full]
