:root {
    --pst-color-inline-code: 0, 0, 0 !important;
}

code {
    background: #f2f2f1 !important;
    font-size: 100% !important;
}


table {
    display: block;
    overflow-x: auto;
    word-break: keep-all;
    border-spacing: 0;
}

th {
    background-color: #c4d5e780;
}

td, th {
    margin: 0 !important;
    border: 1px solid #dee2e6 !important;
    padding: 0.2rem !important;
    vertical-align: middle !important;
}

td {
    white-space: nowrap;
}

td:empty {
    background-color: #ececec !important;
}

th:nth-child(1), td:nth-child(1) {
    background-color: #c4d5e7;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

td p {
    margin-bottom: 0 !important;
    vertical-align: middle !important;
    padding: 0 !important;
}
