:root {
    --pst-color-inline-code: 0, 0, 0 !important;
}

code {
    background: #f2f2f1 !important;
    font-size: 100% !important;
}


table {
    display: block;
    overflow-x: auto;
    word-break: keep-all;
    border-spacing: 0;
}

th {
    background-color: #c4d5e780;
}

td, th {
    margin: 0 !important;
    border: 1px solid #dee2e6 !important;
    padding: 0.2rem !important;
    vertical-align: middle !important;
}

td {
    white-space: nowrap;
}

td:empty {
    background-color: #ececec !important;
}

th:nth-child(1), td:nth-child(1) {
    background-color: #c4d5e7;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

td:nth-child(1) code, th:nth-child(1) code {
    background: none !important;
}

td p {
    margin-bottom: 0 !important;
    vertical-align: middle !important;
    padding: 0 !important;
}

/*.bd-sidebar {*/
/*    max-width: 400px !important;*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .container,*/
/*    .container-lg,*/
/*    .container-md,*/
/*    .container-sm,*/
/*    .container-xl {*/
/*        max-width: 1700px !important;*/
/*    }*/
/*}*/

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
    content: "\a\20\20\20\20";
    white-space: pre;
}

/* Newline after the last parameter (so the closing bracket is on a new line) */
dt em.sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}


/* To have blue background of width of the block (instead of width of content) */
dl.class > dt:first-of-type {
    display: block !important;
}

